@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,300&family=ZCOOL+XiaoWei&display&family=Marcellus&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background: #fff;
    color: #2b323c;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 50px;
    font-weight: 600;
}

/*Nav Bar*/

a{
    color: #06cccc;
  }
  
  a:hover{
    color: #777;
  }

  .nav-container {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06); /* 0.5 is the alpha (opacity) */
    margin: 0;
    padding: 0;
}

  nav{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    
    max-width: 1200px; 
  }
  .logo img {
    max-height: 40px; 
    transform: scale(3);
    display: block;
    margin-left: 4%;
}


  nav img{
    width: 100%;
    height: 100%;
  }
  .nav-links{
    flex: 1;
    text-align: right;
  }
  .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }
  .nav-links ul li a{
    color: #2b323c;
    text-decoration: none;
    font-size: 13px;
  }
  .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #6C63FF;
    display: block;
    margin: auto;
    transition: .5s;    
  }
  .nav-links ul li:hover::after{
    width: 100%;
  }
  nav .fa{
    display: none;
  }
  
  
  .sub-header {
    width: 100%;
    color: #fff;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
  }

  /* Body */
  .introduction-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4%; /* Adjust as needed */
    max-width: 1200px; /* Adjust as needed */
    margin: auto;
    margin-top: 100px;
    font-size: larger;
}

.introduction-text h1 {
    margin-bottom: 50px; /* Adjust as necessary */
}

.introduction-text p {
    line-height: 2; /* Adjust if needed */
    margin-bottom: 20px; /* Adjust if needed */
}

.introduction-text {
    width: 45%; /* Adjust as needed */
}

.introduction-image {
    width: 45%; /* Adjust as needed */
}

.introduction-image img {
    width: 100%;
    height: auto;
    scale: 2;
}

.highlight {
  color: #6C63FF; 
}

.containerAutoText{ display: inline-block;}

.text {
  font-size: 50px;
  font-weight: 600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.blinking-cursor::after {
  content: '|';
  animation: blink 1s step-end infinite alternate;
}

@keyframes blink {
  from, to { color: transparent }
  50% { color: black }
}








/* Projects */

.project-grid {
  width: calc(50% - 15px); /* Adjust the width as needed, -15px assumes a 15px padding or margin in your intro section. */
  margin: 0 auto; /* Center the grid */
  margin-top: 80px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

}

.project-card {
  position: relative;
  overflow: hidden; /* Hide elements that go outside the card boundaries */
  cursor: pointer;
  transition: transform .2s, background-color .2s;; /* Smooth transition */
}

.project-card img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Makes the image cover the card, cropping if necessary */
}

.project-name {
  position: absolute;
  align-items: center;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); /* Black background with 70% opacity */
  color: #ffffff;
  height: 100%;
  width: 100%;
  display: flex;
  text-align: center;
  padding: 10px;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth transition */
  justify-content: center;
}

.project-card:hover .project-name {
  opacity: 1; /* Show on hover */
}

.project-card:hover {
  background-color: black;
  transform: scale(1.05);
}

/* Responsive Design: 1 Column below 768px screen width */
@media (max-width: 768px) {
  .project-grid {
      grid-template-columns: 1fr; /* 1 column */
  }
}
































/* Footer */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.content-container {
    flex: 1; 
}

.site-footer {
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 0; /* Adjusted padding for a not-so-slim footer */
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%; 
    margin: auto;
}

.footer-content p {
    margin: 0;
    font-size: 14px; /* Adjusted font size for better readability */
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons a {
    
    margin: 0 5px;
    text-decoration: none;
}

.social-icons i {
    font-size: 18px; /* Adjusted icon size for better visibility */
}
.social-icons a {
    color: #000; 
    margin: 0 10px; /* Adjust margin as needed */
    text-decoration: none;
}

.social-icons i {
    font-size: 20px; /* Adjust font size as needed */
}

/* LinkedIn Icon Color */
.social-icons a[href*="linkedin"] i {
    color: #0077B5; /* LinkedIn Blue */
}

/* Instagram Icon Color */
.social-icons a[href*="instagram"] i {
    color: #E4405F; /* Instagram Pink */
}

/* GitHub Icon Color */
.social-icons a[href*="github"] i {
    color: #171515; /* GitHub Black */
}

.social-icons a[href*="linkedin"]:hover i {
    color: #004471; /* A different shade of LinkedIn Blue */
}


/*Projects Sections*/
.project-section {
  width: 100%;
  padding-left: 200px;
  
}

.project-title {
  font-size: 2rem; /* Adjust as needed */
  text-align: left;
  margin-bottom: 20px;
  font-weight: 100px;
  font-family: 'Noto Sans KR', sans-serif;
}

.project-details {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  font-size: small;
  padding: 0 15px; /* Adjust as needed. */
}

.project-info {
  width: 20%; /* Adjust as needed */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px; /* Space between cells */
}

.project-info .info p {
  margin-bottom: -9px;  /* Adjust this value as needed */
}

.row {
  display: flex;
}

.cell {
  flex: 1; /* Allows each cell to take up equal width */
  padding: 10px;
}

.cell h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

/* To ensure no borders are visible */
table, th, td {
  border: none !important;
}

.project-image {
  
  margin: 0 auto; /* Center the image */
  display: block;
  position: relative;  
  width: 150px;       /* Set the width based on the largest rectangle (image1) */
  height: 150px;      /* Set the height based on the tallest rectangle (image2 and image3) */
}

/* Overlapping rectangle styles */
.rectangle {
  position: absolute;
  background-color: #d3d3d3; /* Grey color */
  border: #000000 solid 1px; /* Black border */
  
}

.rectangle img {
  width: 100%;
  height: 100%;
  object-fit: contain;  /* Ensures the image covers the rectangle without distorting */
  display: block;     /* Removes any default spacing/margin */
  scale: 1.5;
}
.image1 {
  width: 411px;
  height: 232px;
  top: 110%;
  right: 8%;
  transform: translate(50%, -50%);
  z-index: 2;
  
}

.image2 {
  width: 411px;
  height: 232px;
  top: 50%;
  left: 110%;
  transform: translate(-150%, -50%);
  z-index: 1;
  
}



.image3 {
  width: 411px;
  height: 232px;
  top: 1%;
  left: 80%;
  transform: translate(-50%, -50%);
  z-index: 3;
  
  
}

/*
Overlapping image styles - Commented out
.image-box {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}

.image1 {
  background-image: url('path_to_image1.jpg');
}

.image2 {
  background-image: url('path_to_image2.jpg');
}

.image3 {
  background-image: url('path_to_image3.jpg');
}
*/



.project-details td {
  padding: 100px;  /* Adjust this value as needed */
}

.two-part-section {
  display: flex;
  margin-top: 100px;
  width: 100%;
  margin-bottom: 10px;
  align-items: start; /* Aligns the content to the top */
}

.left-section {
  flex-basis: 30%; /* Takes up 30% of the container width */
  padding-left: 200px;
  padding-right: 20px; /* Adds some space to the right */
  margin-top: 50px;
}

.right-section {
  flex-basis: 70%; /* Takes up 70% of the container width */
  padding-right: 300px;
  padding-left: 20px; /* Adds some space to the left */
  margin-top: 50px;
}

.right-section p:not(:last-child) {
  margin-bottom: 20px; /* Adds space between paragraphs */
}

/*want to change the first h2 to color #6C63FF*/
.left-section h2:first-child{
  font-weight: 100;
  color: #6C63FF;
  padding-bottom:45px;
}

.left-section h2{
  font-weight: 100;
}

#Project_1{
  padding-top: 100px;
}

#Project_2{
  padding-top: 100px;
}

#Project_3{
  padding-top: 100px;
}

#Project_4{
  padding-top: 100px;
}


#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;  /* This ensures it stays below the content */
}

.content-overlay {
  position: relative;
  z-index: 2;  /* This ensures it's above the particles background */
}


/* About */

.two-columns{
  display: flex;
  align-items: center;
}

.about{
  margin-left: 0rem;
}

p.short-about{
  width: 40rem;
  line-height: 2rem;
}



h1{
  font-family: 'Noto Sans KR', sans-serif;
  color: #28282B;
  margin-bottom: 1rem;
  font-size: 46px;
  font-weight: 400;
  max-width: 800px;
  line-height: 54px;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  max-width: 900px;
  line-height: 30px;
  padding-bottom:  18px;
  margin-bottom: 18px;
  color:#28282B;
}

main{
  max-width: 80em;
  min-width: 30em;
  margin: 0 auto;
  height: 100%;
  margin-top: 0rem;
} 

.tools{
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: lighter;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Icons8{
  
  text-align: right;
}


.custom-link {
  color: #6C63FF;
  text-decoration: none;
  
  position: relative;
  padding-bottom: 8px; /* Add padding to the bottom for the underline effect */
  transition: .5s;
}

.custom-link::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #6C63FF;
  display: block;
  margin: auto;
  position: absolute; /* Absolute positioning so it appears directly under the link */
  bottom: 0; /* Position it at the bottom of the link */
  left: 0; /* Start from the left side */
  right: 0; /* End at the right side */
  transition: .5s;
}

.custom-link:hover::after {
  width: 100%;
}

@media (max-width: 1530px) {
  
  
}